.signup-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  margin: 20px auto;
  box-shadow: 0 0 8px lightgrey;
  padding: 50px;
  height: 400px;
  justify-content: flex-end;
  background: url('assets/bg2.png');
  background-position: center;
  background-size: cover;
}

.signup-form > input {
  height: 30px;
  border-radius: 4px;
  padding: 0 4px;
  background-color: white;
}

.signup-form > button {
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
