.loggedin-container {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-shadow: 0 0 8px #e0e0e0;
  border-radius: 8px;
}
.loggedin-container > img {
  width: 30px;
  border-radius: 50%;
}
.loggedin-container > p {
  font-size: 1.2rem;
  color: darkgrey;
}
